<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #f7f8fe;">
    <div style="display: flex; justify-content: center;">
        <img style="display: flex; justify-content: center; align-items: center; width: 70%;" src="https://lh6.googleusercontent.com/IM1xJaZAZEnMDNnlDTF7VXHAQLfCrz2lnBZBNgKgk3C075Uzubop4hNQSED9DhorS-omXq29nUepnEhG0z7M4nhjkb3seizW7OaPOnShrn78o_YmubzzHd0OfajiKvGKOvDIDixg3ARDO2rmOQ" alt="nothing">
    </div>
    
</body>
</html>