:root{
  --bgcolor1: #123456;
  --bgcolor2: #123456;
  --fontcolor1 : #ffffff;
  --fontcolor2: #aaaaaa;
  --bordercolor: #777777;
  --favColor: #3d8bfd;
  --favColorDark: #084298;
}
body{
  background-color: #464646;
}
.error{
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px;
  width: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5050;
}
.formCon{
  border: 1px solid  var(--bordercolor);
  width: 350px;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  padding-top: 20px;
  background-color: #222222;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
.formCon .lanOne{
  position: relative;
}
.formCon .lanOne input, .formCon .lanOne select{
  width: 100%;
  padding: 8px;
  font-size: 14px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: transparent;
  z-index: 1;
  border-radius: 5px;
  border: 1px solid var(--bordercolor);
}
.formCon .lanOne label{
  position: absolute;
  padding: 1px 5px;
  margin-left: 10px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
  z-index: 10;
  background-color: #222222;
  top: -10px;
  border-radius: 5px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
.formCon .lanOne input:focus,.formCon .lanOne select:focus{
  border:1px dashed #03e9f4;
}
.formCon .lanOne input:hover,.formCon .lanOne select:hover{
  border:1px solid #03e9f4;
}

  input[type="date"]::-webkit-calendar-picker-indicator {
     color: white;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
 }
 .formCon .iRead {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 10px;
  padding: 5px;
  margin-bottom: 10px;
 }
 .formCon .iRead input{
  width: 14px;
  height: 14px;
  margin: 0 5px;
 }

